footer {
    margin-top: 80px;
    background: white;
    padding: 30px 5%;
    box-shadow: 0 -2px 10px rgba(0,0,0,.08);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 50px;
}

.footer-logo h3 {
    font-family: 'Potta One', cursive;
}



@media (max-width: 900px) {

    .produto-container {
        flex-direction: column;
    }

    .acoes {
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    nav ul {
        flex-wrap: wrap;
        gap: 15px;
    }
}
