* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier Prime", monospace;
    background-color: #f5f5f5;
    color: #111;
}

/* HISTÓRIA */
.historia {
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;

    display: flex;
    align-items: center;
    gap: 60px;

    background: white;
    padding: 40px;
    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* IMAGEM */
.historia img {
    width: 450px;
    border-radius: 20px;
    object-fit: cover;

    transition: transform 0.3s ease;
}

.historia img:hover {
    transform: scale(1.03);
}

/* TEXTO */
.texto {
    flex: 1;
}

/* TÍTULO */
.texto h2 {
    font-family: "Bangers", cursive;
    font-size: 55px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

/* TEXTO */
.texto p {
    font-size: 17px;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 15px;
    color: #333;
}

/* RESPONSIVO */
@media (max-width: 900px) {

    .historia {
        flex-direction: column;
        padding: 25px;
    }

    .historia img {
        width: 100%;
        max-width: 500px;
    }

    .texto h2 {
        text-align: center;
    }
}