<!-- importa o css da tela de login e cadastro -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_cadastro.css') }}">

<!-- container principal da pagina -->
<div class="container">

    <!-- mensagem de boas vindas -->
    <div class="boas-vindas">Seja Bem Vindo(a) de Volta!</div>

    <!-- titulo da tela -->
    <h1>LOGIN</h1>

    <!-- formulario de login -->
    <form method="POST">

        <!-- campo para inserir o email -->
        <input type="email" name="email" placeholder="Seu email">

        <!-- campo para inserir a senha -->
        <input type="password" name="senha" placeholder="Sua senha">

        <!-- botão para entrar na conta -->
        <button type="submit">
            Entrar
        </button>

    </form>

    <!-- link para criar uma conta nova -->
    <a href="/cadastro">
        Criar Conta
    </a>

</div>