<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Localização - Godoflip</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pag_inicial.css') }}">
</head>

<body>

    <header>
        <h1>📍 Nossa Localização</h1>
    </header>

    <section class="localizacao">

        <h2>Araraquara - SP</h2>

        <iframe
            src="https://maps.google.com/maps?q=Araraquara%20SP&t=&z=13&ie=UTF8&iwloc=&output=embed"
            width="100%"
            height="500"
            style="border:0;"
            allowfullscreen=""
            loading="lazy">
        </iframe>

    </section>

</body>

</html>