<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godoflip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pag_inicial.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- header -->
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="static/logo/logohamster.png" alt="logo">
            </div>
            <h1 class="titulo">GODOFLIP</h1>
            <div class="icons">

                <a href="{{ url_for('login') }}">
                    <i class="fa-regular fa-user"></i>
                </a>

                <a href="{{ url_for('favoritos') }}">
                    <i class="fa-regular fa-heart"></i>
                </a>

                <a href="{{ url_for('localizacao') }}">
                    <i class="fa-solid fa-location-dot"></i>
                </a>

                </a>
            </div>
        </div>

        <nav>
            <a href="/pagina_inicial">Início</a>
            <a href="/skates">Skates</a>
            <a href="/pag_acessorios">Acessórios</a>
            <a href="/pag_pecas">Peças</a>
            <a href="/pag_sobrenos">Sobre Nós</a>
        </nav>
    </header>

    <!-- carrosel -->
    <section class="carousel">
        <div class="slides">
            <img class="active" src="{{ url_for('static', filename='imagem_carrosel/homem2.png') }}" alt="Banner 1">
            <img src="{{ url_for('static', filename='imagem_carrosel/homem3.png') }}" alt="Banner 2">

            <!-- botões de controle do carrossel -->
            <button class="carousel-btn prev-btn" aria-label="Slide anterior">&#10094;</button>
            <button class="carousel-btn next-btn" aria-label="Próximo slide">&#10095;</button>
        </div>
    </section>

    <!-- destaques -->
    <section class="destaques">
        {% for produto in produtos %}

        <h2>DESTAQUES</h2>
        <div class="cards">
            <div class="card">

                <img src="{{produto.url}}" alt="skate-minimalista">

                <div class="card-content">
                    <h3>{produto.nome}</h3>
                    <p class="preco">R$ 349,90</p>
                    <button class="btn">Comprar</button>
                </div>
            </div>

            {% endfor %}

            <!-- <div class="card">

                <img src="static/imagens_skates_cards/skate_dragao.png" alt="skate-dragão">
                <div class="card-content">
                    <h3>Skate Supernova Fire</h3>
                    <p class="preco">R$ 189,90</p>
                    <button class="btn">Comprar</button>
                </div>
            </div>

            <div class="card">
                <img src="static/imagens_skates_cards/skate_peixe.png" alt="skate-peixe">
                <div class="card-content">
                    <h3>Skate Sakura & Flow</h3>
                    <p class="preco">R$ 99,90</p>
                    <button class="btn">Comprar</button>
                </div>
            </div>
        </div>

    </section> -->

            <!-- footer -->
            <footer>
                <div class="contato">
                    <h3>CONTATO:</h3>
                    <p>📞 (16) 99999-9999</p>
                    <p>📧 godoflip@gmail.com</p>
                </div>
                <div class="footer-logo">
                    <img src="static/logo/logohamster.png" alt="logo">
                </div>
            </footer>
</body>

</html>