{% extends 'base.html' %}

{% block title %}
GodoFlip - Acessórios
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pag_acessorios.css') }}">
{% endblock %}

{% block content %}

<main class="container">

    <section class="titulo">
        <h1>Acessórios de Skate</h1>
        <p>Encontre tudo para melhorar sua performance e estilo.</p>
    </section>

    <section class="grid-acessorios">

        <div class="card">
            <img src="{{ url_for('static', filename='img/lixa.jpg') }}" alt="Lixa">
            <h3>Lixa Profissional</h3>
            <p>Alta aderência para manobras precisas.</p>
            <span class="preco">R$ 29,90</span>
            <button class="btn" onclick="window.location.href='/comprar_acessorios'">Comprar</button>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/lixa.jpg') }}" alt="Lixa">
            <h3>Lixa Profissional</h3>
            <p>Alta aderência para manobras precisas.</p>
            <span class="preco">R$ 29,90</span>
            <button class="btn" onclick="window.location.href='/comprar_acessorios'">Comprar</button>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/rodas.jpg') }}" alt="Rodas">
            <h3>Rodas Street</h3>
            <p>Durabilidade e velocidade para o dia a dia.</p>
            <span class="preco">R$ 89,90</span>
            <button class="btn" onclick="window.location.href='/comprar_acessorios'">Comprar</button>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/rolamento.jpg') }}" alt="Rolamentos">
            <h3>Rolamentos ABEC-7</h3>
            <p>Desempenho suave e rápido.</p>
            <span class="preco">R$ 59,90</span>
            <button class="btn" onclick="window.location.href='/comprar_acessorios'">Comprar</button>
        </div>

    </section>

</main>

{% endblock %}