{% extends 'base.html' %}

{% block title %}
GodoFlip - Acessórios
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pag_acessorios.css') }}">
{% endblock %}

{% block content %}

<main class="container">

    <section class="titulo">
        <h1>Acessórios de Skate</h1>
    </section>

    <section class="grid-acessorios">

        {% for produto in produtos %}
        <div class="card">
            
            <img src="{{ url_for('static', filename=produto['url']) }}" alt="{{ produto['nome'] }}">
            
            <h3>{{ produto['nome'] }}</h3>
            
            <p>{{ produto['desc_produto'] }}</p>
            
            <span class="preco">R$ {{ produto['preco'] }}</span>
            
            <a href="{{ url_for('comprar_pecas', id_produto=produto['cod_produto']) }}" class="btn" style="text-decoration: none; display: inline-block; text-align: center;">
                Comprar
            </a>
            
        </div>
        {% endfor %}

    </section>

</main>

{% endblock %}