{% extends 'base.html' %}

{% block title %}
GodoFlip - Peças de Skate
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pag_pecas.css') }}">
{% endblock %}

{% block content %}

<section class="grid-pecas">

    {% for produto in produtos %}

    <div class="card">
        <img src="{{ url_for('static', filename=produto['url']) }}"
             alt="{{ produto['nome'] }}">

        <h3>{{ produto['nome'] }}</h3>

        <p>{{ produto['desc_produto'] }}</p>

        <span class="preco">
            R$ {{ produto['preco'] }}
        </span>

        <a href="{{ url_for('comprar_pecas', id_produto=produto['cod_produto']) }}"
           class="btn">
           Comprar
        </a>
    </div>

    {% endfor %}

</section>

{% endblock %}