{% extends 'base.html' %}

{% block title %}
Skates - GodoFlip
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pag_skates.css') }}">
{% endblock %}

{% block content %}

<!-- título -->
<section class="titulo-page">
    <h2>SKATES</h2>
    <p>Escolha o que mais te atrai.</p>
</section>

<section class="produtos">

    {% for produto in produtos %}

    <div class="card-produto">

        <a href="{{ url_for('pag_comprar_skates', id_produto=produto.cod_produto) }}">
            <img src="{{ url_for('static', filename=produto.url) }}" alt="{{ produto.nome }}">
        </a>

        <h3>{{ produto.nome }}</h3>
        <p class="preco">R$ {{ produto.preco }}</p>
        <p>{{ produto.desc_produto }}</p>

    </div>

    {% endfor %}

</section>

{% endblock %}