<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skates</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/pag_skates.css') }}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="top-header">

    <div class="logo">
        <img src="{{ url_for('static', filename='logo/logohamster.png') }}" alt="logo">
    </div>

    <h1 class="titulo">GODOFLIP</h1>

    <div class="icons">
        <a href="{{ url_for('login') }}">
            <i class="fa-regular fa-user"></i>
        </a>

        <a href="{{ url_for('favoritos') }}">
            <i class="fa-regular fa-heart"></i>
        </a>

        <a href="{{ url_for('localizacao') }}">
            <i class="fa-solid fa-location-dot"></i>
        </a>
    </div>

</div>
        <nav>
            <a href="index.html">Início</a>
            <a href="skates.html">Skates</a>
            <a href="#">Acessórios</a>
            <a href="#">Peças</a>
            <a href="#">Sobre Nós</a>
        </nav>
    </header>

    <!-- titulo -->
    <section class="titulo-page">
        <h2>SKATES</h2>
        <p>Escolha o que mais te atrai.</p>
    </section>

    <!-- cards skates -->
    <section class="produtos">

        <a href="{{ url_for('comprar')}}" class="card">
            <img src="static/imagens/skate1_angulo1.webp" alt="skate1_angulo1">
            <img src="static/imagens/skate1_angulo2.webp" alt="skate1_angulo2">
            <img src="static/imagens/prancha_lixa.png" alt="skate1_angulo3">
            <div class="card-content">
                <h3>Skate Street Black</h3>
                <p class="preco">R$ 300,00</p>
            </div>
        </a>

        <a href="{{ url_for('comprar')}}" class="card">
            <img src="static/imagens/skate2_angulo1.webp" alt="skate2_angulo1">
            <img src="static/imagens/skate2_angulo2.webp" alt="skate2_angulo2">
            <img src="static/imagens/prancha_lixa.png" alt="skate2_angulo3">
            <div class="card-content">
                <h3>Skate Fire Wheels</h3>
                <p class="preco">R$ 250,00</p>
            </div>
        </a>

        <a href="{{ url_for('comprar')}}" class="card">
            <img src="static/imagens/skate3_angulo01.webp" alt="skate3_angulo1">
            <img src="static/imagens/skate3_angulo2.webp" alt="skate3_angulo2">
            <img src="static/imagens/prancha_lixa.png" alt="skate3_angulo3">
            <div class="card-content">
                <h3>Godoflip Classic</h3>
                <p class="preco">R$ 220,00</p>
            </div>
        </a>

        <a href="{{ url_for('comprar')}}" class="card">
            <img src="static/imagens/skate4_angulo1.webp" alt="skate4_angulo1">
            <img src="static/imagens/skate4_angulo2.webp" alt="skate4_angulo2">
            <img src="static/imagens/prancha_lixa.png" alt="skate4_angulo3">
            <div class="card-content">
                <h3>Urban Skate Pro</h3>
                <p class="preco">R$ 380,00</p>
            </div>
        </a>

        <a href="{{ url_for('comprar')}}" class="card">
            <img src="static/imagens/skate5_angulo1.webp" alt="skate5_angulo1">
            <img src="static/imagens/skate5_angulo2.webp" alt="skate5_angulo2">
            <img src="static/imagens/prancha_lixa.png" alt="skate5_angulo3">
            <div class="card-content">
                <h3>Flip Dark Edition</h3>
                <p class="preco">R$ 365,00</p>
            </div>
        </a>

        <!-- <a href="produto.html" class="card">
            <img src="" alt="">
            <div class="card-content">
                <h3>Street Monster</h3>
                <p class="preco">R$ 100,00</p>
            </div>
        </a> -->

    </section>

</body>
</html>